[id='button'] {
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 30px;
    max-width: 100%;
    width: 150px;
    height: 44px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-decoration: none;
    cursor: pointer;
}