/* Général pour toutes tailles */
.slick-slider {
  width: 100%;
  margin: 0 auto;
  padding: 2rem 0;
}

.slick-slide {
  padding: 0 15px;
  
  justify-content: center;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: flex !important;
  margin-left: auto;
  margin-right: auto;
}


/* Container général du carrousel */
.carrousel-container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

/* Agrandir les cards sur desktop */
.card {
  width: 300px;
  max-width: 100%;
}

/* Affichage des flèches */
.slick-prev, .slick-next {
  position: absolute;
  z-index: 2;
  background-color: #fff;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.slick-prev::before, .slick-next::before {
  color: #333;
  font-size: 20px;
}

/* Positionner les flèches */
.slick-prev {
  left: -40px;
}
.slick-next {
  right: -40px;
}

/* Responsive : ne rien casser en mobile */
@media (max-width: 768px) {
  .card {
      width: 90%;
  }
  .slick-prev, .slick-next {
      display: none !important;
  }
}
